:javascript
  $(document).ready(function() {
    var audio = $('#player').get(0);
    var bar   = $('.bar');

    $(audio).bind('timeupdate', function() {
      $('.pbar').width(((audio.currentTime * 100) / (audio.duration * 100)) * bar.width());
    });

    $("#ptog").click(function() {
      if (audio.paused) {
        $('#ptog').html('pause');
        audio.play();
      } else {
        $('#ptog').html('play');
        audio.pause();
      }
    });
  });
- if @vc.collaborators.include? current_user
  %a{href: "/chains/#{@vc.id}/add"} append
  = " | "
  %a{href: "/chains/#{@vc.id}/layer"} layer
%h1= @vc.title
%h2= @vc.comment
%h3= @vc.time / 1000.00
%h3= @vc.creator.handle
%h1#ptog play
/.markers{style: 'height:20px;width:100%'}
.bar{style: 'background-color:black;height:20px;width:100%;'}
  %span#start_time_disp{style: 'color:white;margin-left:20px;'} 0:00
  %span#end_time_disp{style: 'color:white;float:right;margin-right:20px;'} ?:??
.pbar{style: 'background-color:red;height:20px;width:5px;'}
%audio#player
  %source{src: "/chains/#{@vc.id}/track"}
%h4 layers
%p
  -@vc.layers.each do |layer|
    %div
      %ul
        %li= "comment: #{layer.vox.comment}"
        %li= "created by: #{layer.vox.creator.handle}"
        %li= "volume: #{layer.vol}"
        %li= "start: #{layer.lstart && layer.lstart.comment}"
        %li= "end: #{layer.lend && layer.lend.comment}"
        %li
          %form{action: "/chains/#{@vc.id}/layer/delete", method: 'post'}
            %input{type: 'hidden', name: 'vox_id', value: layer.vox.id}
            %button{type: 'submit'} delete
%h4 voxes
%p
  - @vc.voxes.each do |vox|
    - starts_at = @vc.breaks.select{|b| b[0].id == vox.id}.first[1]
    %div
      %ul
        %li
          %a{href: "/chains/#{@vc.id}/add_before/#{vox.id}"} add here
        %li
          %a{href: "/chains/#{@vc.id}/move/#{vox.id}"} move
        - if @vc.comes_before?(@start, vox)
          %li
            %a{href: "/chains/#{@vc.id}/add_under/#{@start.id}/#{vox.id}"} end layer here
        %li= "comment: #{vox.comment}"
        %li= "created by: #{vox.creator.handle}"
        %li= "time: #{vox.time / 1000.00}"
        %li= "starts at: #{starts_at}"
        %li= "previous: #{vox.pre && vox.pre.comment}"
        %li= "next: #{vox.nex && vox.nex.comment}"
        %li
          %form{action: "/chains/#{@vc.id}/delete", method: 'post'}
            %input{type: 'hidden', name: 'vox_id', value: vox.id}
            %button{type: 'submit'} delete
-# :javascript
-#   $('.markers').append('<div style="display:inline-block;background-color:black;width:10px;height:20px;margin:0 0 0 320px;">');
